


* {
  box-sizing: border-box;
}
html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  height: 100%;
  
}
.drkbg {
  background-color: rgb(29, 28, 28);
  color: whitesmoke;
  height: 100%;
  min-height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}




body {
  line-height: 1;
}

ul {
    list-style-type: none;
    top: -5;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
    
  }
  
  li {
    float: left;
   
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: lightgreen;
    
  }



  .active {
    background-color: #4CAF50;
  }

  .dropdown {
    background-color: #333;
    border: none;
    color: white;
    margin-top: 10px;
    font-family: initial;
    display: block;
    font-size: 110%;
    margin-right: 10px;
  }


.donateContainer{
  margin: 50px;
}
.dropdown-container select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
  }
  
      /* for IE10 */
.dropdown-container select::-ms-expand {
    display: none;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
    width:80%;
    height:80%;

  
  }


  .btcp {
    width: 32%;
    max-width: 200px;
    max-height: 200px;
    padding-bottom: 18%; /* 32:18, i.e. 16:9 */
    margin-bottom: 2%; /* (100-32*3)/2 */
    border: 1px solid lightgrey;
  }

  .ethp {
    width: 32%;
    max-width: 200px;
    max-height: 200px;
    padding-bottom: 18%; /* 32:18, i.e. 16:9 */
    margin-bottom: 2%; /* (100-32*3)/2 */
    border: 1px solid lightgrey;
  }

  .dogep {
    width: 32%;
    max-width: 200px;
    max-height: 200px;
    padding-bottom: 18%; /* 32:18, i.e. 16:9 */
    margin-bottom: 2%; /* (100-32*3)/2 */
    border: 1px solid lightgrey;
  }

  .bnbp {
    width: 32%;
    max-width: 200px;
    max-height: 200px;
    padding-bottom: 18%; /* 32:18, i.e. 16:9 */
    margin-bottom: 2%; /* (100-32*3)/2 */
    border: 1px solid lightgrey;
  }

  .adap {
    width: 32%;
    max-width: 200px;
    max-height: 200px;
    padding-bottom: 18%; /* 32:18, i.e. 16:9 */
    margin-bottom: 2%; /* (100-32*3)/2 */
    border: 1px solid lightgrey;
  }

  .dotp {
    width: 32%;
    max-width: 200px;
    max-height: 200px;
    padding-bottom: 18%; /* 32:18, i.e. 16:9 */
    margin-bottom: 2%; /* (100-32*3)/2 */
    border: 1px solid lightgrey;
  }


  




  .btcp:hover , .ethp:hover , .dogep:hover , .bnbp:hover , .adap:hover , .dotp:hover {
    transition: transform 0.25s;
    transform: scale(1.05); 
  }



  

  
  .btn {
    text-decoration: none;
    border: 1px solid white;
    position: relative;
    overflow: hidden;

    font-size: 1.5rem;
    padding: 1rem 3rem;
    
    text-transform: uppercase;
  }
  

  


  .switch {
    margin-top:4px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(29, 28, 28);;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(29, 28, 28);;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */

  .slider.round {
  border-radius: 34px;
}
  .slider.round:before {
    border-radius: 50%;
  }

  