{% extends "base.html" %}

{% block title %}Crypton{% endblock %}

{% block content %}


  <div class = "donateContainer">
    
    
      <center style="font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; margin: 0 0 24px; ">
        <img src="https://cccl.org.lb/images/logo-wide.png"><br>
        Your cryptocurrency donation will be converted as soon as possible to U.S.
      dollars so it can be put to work toward our mission:
      Saving Lives, Celebrating Hope.
      The minimum transaction is 0.0001 BTC
    
      <br>
      Bitcoin address:
      <b>1LBhDjYDzxWdFAPenyhYkX1xmRgMT5kSZU</b><br><br>
      <p class="text-danger">DISCLAIMER: Please only send bitcoin to this address, otherwise your funds might be lost and unrecoverable</p>
      <button onclick="window.location.href='https://cccl.org.lb/Other-Pages/37/Cryptocurrency-Donation'" type="button" class="btn btn-outline-secondary">go to CCCL's website</button>
     
    </center>

      

      </p>


  </div>


{% endblock %}
