{% extends "base.html" %}

{% block title %}Crypton{% endblock %}

{% block content %}
<center>





<div onclick="location.href='charts';" class="flex-container" >

    <div class="btcp"><p><img style="width:50%; padding: 20px;" src="{{url_for('static', filename='pictures/btclogo.png')}}" align="middle" /></br>{{btcprice}}</p></div>

    <div class="ethp"><p><img style="width:50%; padding: 20px;" src="{{url_for('static', filename='pictures/ethlogo.png')}}" align="middle" /></br>{{ethprice}}</p></div>

    <div class="dogep"><p><img style="width:50%; padding: 20px;" src="{{url_for('static', filename='pictures/dogelogo.png')}}" align="middle" /></br>{{dogeprice}}</p></div>
    
    <div class="bnbp"><p><img style="width:50%; padding: 20px;" src="{{url_for('static', filename='pictures/bnblogo.png')}}" align="middle" /></br>{{bnbprice}}</p></div>

    <div class="dotp"><p><img style="width:50%; padding: 20px;" src="{{url_for('static', filename='pictures/adalogo.png')}}" align="middle" /></br>{{adaprice}}</p></div>

    <div class="adap"><p><img style="width:50%; padding: 20px;" src="{{url_for('static', filename='pictures/dotlogo.png')}}" align="middle" /></br>{{dotprice}}</p></div>


   
</div>

<div>
    <p href="convert" class="btn" style="width: 50%; border: 1px solid lightgray"><a href="convert" style="text-decoration: none;">Go to Converter</a></p>
  </div>



</center>
{% endblock %}
